.App {
  text-align: center;
  padding: 20px;
}

.drop-area {
  width: 80%;
  height: 400px;
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

video {
  max-width: 100%;
  height: auto;
}

.controls {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
}

.injected-data-container {
  margin-top: 20px;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ccc;
}

.injected-data {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #e3e3e3;
}
